.container-detail{
  background-image: url("https://i.pinimg.com/564x/a1/73/9f/a1739fdb33734feaaf510fb14c494623.jpg");
  background-size: cover;
  width: 100vw;
  height: 86vh;
  overflow: hidden;
}

.description{
  color: whitesmoke;
  text-align: justify;
}

.h1-ingredients{
  color: black;
}