.container-detail{
  background: rgb(102, 112, 92);
  width: 100vw;
  height: 86vh;
  overflow: hidden;
}

.description{
  color: whitesmoke;
  text-align: justify;
}

.h1-ingredients{
  color: black;
}